{% extends 'base.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<main class="app app-404">
    <div class="container">
        <h1 class="app-404__title">404</h1>
        <p class="app-404__subtitle">Sorry, we were unable to find that page</p>
        <a class="app-404__link" href="{{ home_url }}">Return to home page</a>
    </div>
</main>
{% endblock %}