{% extends "base.twig" %}

{% block title %}Confirmation{% endblock %}
{% block content %}
<main class="app app_auth" id="confirmApp">
    <div class="container">
        <h1 class="title">Confirmation</h1>
        <form class="form form_type_auth" @submit.prevent="doConfirm">
            <input type="hidden" name="_token" value="{{ session._token }}" ref="_token">
            <input type="hidden" name="email" value="{{ email }}" ref="email">

            <div class="form__confirm_code">
                <input
                    ref="codeInput"
                    type="text"
                    v-for="(item, i) in code"
                    v-model="code[i]"
                    @keyup="manualEnterCode($event, i)"
                    @paste.prevent="pasteCode($event, i)"
                    :class="['form__input', 'form__input_confirm_code', {'active': code[i]}]"
                    maxlength="1"
                >
            </div>

            {% if session.response is defined and session.response.success==false %}
                <p class="form-help">{{ session.response.message }}</p>
            {% endif %}

            <p class="form-help" v-if="response.success==false">[[ response.message ]]</p>
        </form>
    </div>
</main>
{% endblock %}

{% block custom_js %}
    <script src="{{ home_url }}/static/js/confirm.js"></script>
{% endblock %}