{% extends "base.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <main class="app app_home" id="app" @keydown.ctrl.enter="send">
        <div class="container">
            <div class="wrapper">
                {% include 'components/sidebar.twig' %}
                <section class="main-window">
                    {% if message_to != false %}
                        {% include 'components/header.twig' %}
                        {% include 'components/body.twig' %}
                        {% include 'components/footer.twig' %}
                    {% else %}
                        <div class="empty-message">
                            Select chat to start messaging
                        </div>
                    {% endif %}
                </section>
            </div>
        </div>
    </main>
{% endblock %}