{% extends "base.twig" %}
{% block title %}Register{% endblock %}
{% block content %}
    <main class="app app_auth" id="signupApp">
    <div class="container">
        <h1 class="title">Register</h1>
        <form class="form form_type_auth" @submit.prevent="doSignup">
            <input type="hidden" name="_token" value="{{ session._token }}" ref="_token">
            <label for="name" class="form__label">
                <input type="text" autocomplete="name" class="form__input" placeholder="Name" v-model="name">
            </label>
            <label for="tel" class="form__label">
                <input type="email" autocomplete="email" class="form__input" placeholder="E-mail" v-model="email">
            </label>

            <p class="form-help form-help_status_error" v-if="response.success==false">[[response.message]]</p>

            <button type="submit" class="btn form__btn">Next</button>

            <a href="{{ home_url }}/login" class="form__reg-link">Already have an account? Please, login.</a>

        </form>
    </div>
    </main>
{% endblock %}

{% block custom_js %}
    <script src="{{ home_url }}/static/js/signup.js"></script>
{% endblock %}