{% include 'inc/header.twig' with {'title':title} %}
<main class="app app_signup" id="signupApp">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        <form class="form" @submit.prevent="doSignup">
            <input type="hidden" name="_token" value="{{ session._token }}" ref="_token">
            <label for="name" class="form__label">
                <span>Your name</span>
                <input type="text" class="form__input" v-model="name">
            </label>
            <label for="tel" class="form__label">
                <span>Your email</span>
                <input type="email" class="form__input" v-model="email">
            </label>

            <p v-if="response.success==false">[[response.message]]</p>

            <button type="submit" class="btn form__btn">Next</button>
        </form>
    </div>
</main>
{% include 'inc/footer.twig' %}