*, *::after, *::before {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #242424;
  background: #ffe8e8;
  scroll-behavior: smooth;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

a {
  -webkit-user-select: text;
  -moz-select: text;
  -ms-select: text;
  -moz-user-select: text;
       user-select: text;
}

ul, li {
  list-style: none;
}

input, button {
  font-family: inherit;
  border-radius: 10px;
}

h1, h2 {
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.app {
  margin-top: 200px;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 15px;
  text-align: center;
}

button {
  border: unset;
  outline: none;
  background: transparent;
}

img {
  max-width: 100%;
}

b {
  font-weight: 500;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.btn {
  font-family: inherit;
}

.form {
  position: relative;
}
.form__label {
  display: block;
}
.form__label span {
  opacity: 0.9;
  display: block;
  margin-bottom: 5px;
}
.form__input {
  border: 1px solid #e6e6e6;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.1s ease;
  font-family: inherit;
}
.form__input:hover {
  border-color: #3390ec;
}
.form__input:focus {
  border-color: #3390ec;
}
.form__btn {
  border: unset;
  font-weight: 500;
  display: block;
  width: 100%;
  background: #3390ec;
  color: #e6e6e6;
  padding: 15px;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
  text-transform: uppercase;
}
.form__btn:hover {
  background: #1477d8;
}

.app_home {
  margin-top: 0px !important;
}
.app_home > .container {
  max-width: 100%;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.empty-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.users {
  width: 400px;
  flex-shrink: 0;
  background: #fff;
  overflow-y: hidden;
  border-right: 1px solid #cdcdd0;
  padding: 10px;
  color: #000;
}
.users::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.users::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.users::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.users:hover {
  overflow-y: auto;
}
.users__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.users__link.active {
  background: #3390ec;
  color: #fff;
}
.users__link.active .users__email {
  color: #fff;
}
.users__link:not(.active):hover {
  background: rgba(205, 205, 208, 0.2);
}
.users__label {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
  white-space: nowrap;
}
.users__name {
  font-size: 16px;
  line-height: 1.375rem;
  font-weight: 500;
}
.users__email {
  color: #707579;
  font-weight: 400;
  margin-top: 5px;
  font-size: 14px;
}
.users__userpic {
  width: 54px;
  height: 54px;
  font-size: 18px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
}

.saved .saved__userpic {
  background: linear-gradient(180deg, #90c3f5 0%, #3390ec 100%);
  padding: 12px;
}
.saved .saved__userpic path {
  fill: #fff;
}

.main-window {
  display: flex;
  flex-direction: column;
  background: #8EC5FC linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.recipient-panel {
  background: #fff;
  font-size: 18px;
  padding: 10px 15px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.2117647059);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipient-panel__username {
  font-weight: 500;
}
.recipient-panel__info {
  display: flex;
  align-items: center;
}
.recipient-panel__userpic {
  width: 42px;
  height: 42px;
  font-size: 14px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
}
.recipient-panel__user-status {
  font-size: 14px;
  color: #707579;
}
.recipient-panel__user-status.online {
  color: #0d6efd;
}
.recipient-panel__typing {
  display: flex;
}
.recipient-panel__typing-animation {
  display: flex;
  align-items: center;
  margin-right: 3px;
}
.recipient-panel__typing-animation span {
  display: block;
  margin: 0 1px;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background: rgba(13, 110, 253, 0.3);
  animation-name: typing;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}
.recipient-panel__typing-animation span:first-child {
  animation-name: typing-1;
}
.recipient-panel__typing-animation span:nth-child(2) {
  animation-name: typing-2;
}
.recipient-panel__typing-animation span:last-child {
  animation-name: typing-3;
}

@keyframes typing-1 {
  from {
    transform: scale(1);
  }
  22.222222% {
    transform: scale(1.2);
    background: #0d6efd;
  }
  66.666666% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes typing-2 {
  from {
    transform: scale(1);
  }
  44.444444% {
    transform: scale(1.2);
    background: #0d6efd;
  }
  66.666666% {
    transform: scale(1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes typing-3 {
  from {
    transform: scale(1);
  }
  66.666666% {
    transform: scale(1.2);
    background: #0d6efd;
  }
  to {
    transform: scale(1);
  }
}
.logout-icon path {
  fill: rgba(0, 0, 0, 0.5);
}
.logout-icon:hover path {
  fill: #000;
}

.app-body {
  position: relative;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.app-body::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.app-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.app-body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.messages {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.message__item {
  display: flex;
  align-items: flex-end;
  margin: 4px 0;
  position: relative;
}
.message__item.active .message-utils {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.message__item_self {
  justify-content: flex-end;
}
.message__item_self .message__userpic {
  order: 1;
  margin-left: 5px;
}
.message__item_self .message__text {
  transition: all 0.1s ease;
  background: #FFF3D5;
  border-radius: 18px 18px 4px 18px;
}
.message__item__icon {
  margin-right: 5px;
  width: 20px;
}

.message__userpic {
  width: 35px;
  height: 35px;
  font-size: 11.6666666667px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  margin-right: 5px;
  position: sticky;
  bottom: 0;
}

.message__text {
  max-width: 480px;
  min-width: 75px;
  font-size: 16px;
  background: #fff;
  border-radius: 18px 18px 18px 4px;
  padding: 8px 8px 8px 11px;
  line-height: 1.3;
  box-shadow: 0 1px 2px rgba(16, 35, 47, 0.1490196078);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: auto;
}
.message__text .message__time-label {
  font-size: 12px;
  visibility: hidden;
}
.message__text .message__time-inner {
  font-size: 12px;
  opacity: 0.5;
  display: block;
  position: absolute;
  right: 0;
  bottom: 4px;
  padding-right: 6px;
}
.message__text div {
  display: inline;
  word-break: break-word;
}
.message__text a {
  text-decoration: underline;
  color: #3390ec;
}
.message__text.message__text_short {
  background: transparent;
  box-shadow: unset;
  padding: 0;
  text-align: right;
}
.message__text.message__text_short .message__time-label {
  display: none;
}
.message__text.message__text_short .message__time-inner {
  position: static;
  background-color: rgba(112, 117, 121, 0.2);
  display: table;
  margin-top: -5px;
  opacity: 1;
  color: #fff;
  margin-left: auto;
  border-radius: 30px;
  padding: 2px 7px 1px;
}
.message__text.message__text_short > div {
  font-size: 44px;
}
.message__text .message-utils {
  max-width: 200px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.2117647059);
  right: 20px;
  bottom: -85px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  transform: scale(0.8);
  position: absolute;
}
.message__text .message-utils__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #707579;
}
.message__text .message-utils__item:hover {
  background: rgba(205, 205, 208, 0.2);
}
.message__text .message-utils__item path {
  fill: #707579;
}
.message__text .message-utils__icon {
  margin-right: 10px;
}
.message__text .message-utils__delete {
  color: rgb(223, 63, 64);
}
.message__text .message-utils__delete path {
  fill: rgb(223, 63, 64);
}

.footer {
  padding-top: 5px;
  width: 100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  position: relative;
}

.form_chat {
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}

.form__message-input {
  margin-bottom: 0;
  padding: 15px 15px 15px 50px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.2117647059);
  font-size: 16px;
  background: #fff;
  vertical-align: top;
  max-width: 100%;
  min-width: 100%;
  min-height: 45px;
  max-height: 300px;
  overflow-y: auto;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: none;
  border-radius: 10px;
}
.form__message-input::-webkit-scrollbar {
  display: none;
}
.form__message-input:hover, .form__message-input:focus {
  margin-bottom: 0;
}
.form__message-input[placeholder]:empty::before {
  content: attr(placeholder);
  color: #242424;
  cursor: text;
}
.form__message-input [placeholder]:empty:focus::before {
  content: "";
}

emoji-picker {
  position: absolute;
  bottom: 70px;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.send-message-utils {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.form__send-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 12px;
  margin-left: 10px;
  cursor: pointer;
  display: block;
  flex-shrink: 0;
  background: #3390ec;
}

.btn-scroll-down {
  width: 50px;
  height: 50px;
  padding: 15px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.2117647059);
  border-radius: 100px;
  position: absolute;
  right: -60px;
  top: -60px;
  background: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.btn-scroll-down:hover {
  background: #ebebeb;
}
.btn-scroll-down.active {
  visibility: visible;
  opacity: 1;
}

.form__send-icon {
  width: 100%;
}

.emoji-picker-btn {
  width: 20px;
  cursor: pointer;
}
.emoji-picker-btn path {
  transition: all 0.2s ease;
  fill: #707579;
}
.emoji-picker-btn:hover path {
  fill: #000;
}

.form_type_auth {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 80%;
}
.form_type_auth .form__reg-link {
  text-decoration: underline;
  color: #3390ec;
}
.form_type_auth .form-help {
  color: rgb(223, 63, 64);
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 0.75rem 1.25rem;
  border-radius: 10px;
  margin-bottom: 15px;
}

.app_auth {
  margin: 0;
}
.app_auth > .container {
  padding-top: 30vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
}

.form__confirm_code {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px auto 15px auto;
}

.form__input_confirm_code {
  width: 75px;
  height: 85px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  border-width: 2px;
}

.form__input_confirm_code:focus, .form__input_confirm_code:hover {
  border-color: #e6e6e6;
}

.form__input_confirm_code.active {
  border-color: #3390ec;
}

.app-404 {
  text-align: center;
  font-size: 16px;
}
.app-404__title {
  font-size: 72px;
}
.app-404__subtitle {
  font-size: 24px;
  line-height: 160%;
}
.app-404__link {
  display: block;
  text-decoration: underline;
  margin-top: 32px;
  line-height: 150%;
}