*, *::after, *::before {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: #242424;
  background: #ffe8e8;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

input, button {
  font-family: inherit;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

h1, h2 {
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.app {
  margin-top: 200px;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-bottom: 15px;
  text-align: center;
}

button {
  border: unset;
  outline: none;
  background: transparent;
}

img {
  max-width: 100%;
}

b {
  font-weight: 500;
}

.btn {
  font-family: inherit;
}

.form {
  position: relative;
}
.form__label {
  display: block;
}
.form__label span {
  opacity: 0.9;
  display: block;
  margin-bottom: 5px;
}
.form__input {
  border: 1px solid #e6e6e6;
  font-size: 15px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  transition: all 0.1s ease;
  font-family: inherit;
}
.form__input:hover {
  border-color: #419FD9;
}
.form__input:focus {
  border: 2px solid #419FD9;
  margin-bottom: 13px;
}
.form .btn {
  border: unset;
  font-weight: 500;
  display: block;
  width: 100%;
  background: #419FD9;
  color: #e6e6e6;
  padding: 15px;
  letter-spacing: 0.01em;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease;
  text-transform: uppercase;
}
.form .btn:hover {
  background: #2786c1;
}

.app_home {
  margin-top: 20px !important;
}

.wrapper {
  display: flex;
  height: 600px;
}

.users {
  width: 30%;
  background: #fff;
  overflow-y: hidden;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #cdcdd0;
}
.users::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.users::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.users::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}
.users:hover {
  overflow-y: auto;
}
.users__link {
  display: flex;
  align-items: center;
  padding: 7px 10px;
}
.users__link.active {
  background: #419FD9;
  color: #fff;
}
.users__link:not(.active):hover {
  background: rgba(205, 205, 208, 0.2);
}
.users__label {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
  white-space: nowrap;
}
.users__userpic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.empty-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main-window {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
  border-radius: 0 10px 10px 0;
  width: 70%;
  overflow: hidden;
  position: relative;
}

.recipient-panel {
  background: #fff;
  font-size: 18px;
  border-radius: 0 10px 0 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recipient-panel__useremail {
  font-size: 15px;
  color: rgba(36, 36, 36, 0.5);
  font-weight: 300;
}

.logout-icon path {
  fill: rgba(0, 0, 0, 0.5);
}
.logout-icon:hover path {
  fill: #000;
}

.app-body {
  padding: 10px;
  height: calc(100% - 45px);
  overflow-y: auto;
}
.app-body::-webkit-scrollbar {
  width: 4px;
  background: rgba(0, 0, 0, 0.1);
}
.app-body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.app-body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.messages__item {
  display: flex;
  align-items: flex-end;
  margin: 5px 0;
}

.message__userpic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.message__text {
  display: flex;
  align-items: flex-end;
  max-width: 300px;
  min-width: 100px;
  font-size: 12px;
  background: #fff;
  border-radius: 18px 18px 18px 4px;
  padding: 8px 13px 7px 13px;
  width: fit-content;
  position: relative;
}
.message__text_self {
  background: #FFF3D5;
}
.message__text div {
  width: 100%;
  word-break: break-word;
}

.message__text span {
  opacity: 0.5;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  text-align: right;
  float: right;
  margin-top: -10px;
  margin-left: 7px;
}

.message__text_big span {
  margin-top: 0;
}

.form__message-input {
  margin-bottom: 0;
  padding: 0;
  padding-right: 55px;
  border: 10px solid white;
  font-size: 12px;
  vertical-align: top;
  max-width: 100%;
  min-width: 100%;
  height: 45px;
  min-height: 45px;
  resize: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.form__message-input::-webkit-scrollbar {
  display: none;
}
.form__message-input:hover, .form__message-input:focus {
  margin-bottom: 0;
  border: 10px solid white;
}

emoji-picker {
  position: absolute;
  bottom: 70px;
  right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.message-send-tools {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.form__send-btn {
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
  display: block;
  padding: 0;
}

.form__send-icon {
  width: 100%;
}

.emoji-picker-btn {
  width: 20px;
  cursor: pointer;
}
.emoji-picker-btn path {
  transition: all 0.2s ease;
}
.emoji-picker-btn:hover path {
  fill: #000;
}

/*# sourceMappingURL=main.css.map */
