// Fonts
$font: 'Rubik', sans-serif
$fontSizeBig: 18px
$fontSizeMedium: 15px
$fontSizeSmall: 10px

// Colors
$color: #242424
$color2: #419FD9
$window_bg: #ffe8e8
$app_bg: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%)
$accent: #fff
$grey: #cdcdd0
$msg_bg: #fff
$msg_self_bg: #FFF3D5

// Border-radius
$radius: 10px
$radiusBig: 18px
$radiusSmall: 4px

// Sizes
$textarea_min_height: 45px

// Reset
*,*::after,*::before
  box-sizing: border-box

body, html
  padding: 0
  font-family: $font
  font-size: $fontSizeMedium
  color: $color
  background: $window_bg

a, a:hover, a:active, a:focus
  text-decoration: none
  color: inherit

ul,li
  list-style: none

input,button
  font-family: inherit
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 10px

h1,h2
  font-family: inherit
  color: inherit
  font-weight: 700

h1,h2,h3,p,ul,li
  margin: 0
  padding: 0

.app
  margin-top: 200px

.container
  max-width: 900px
  width: 100%
  margin: 0 auto

.title
  margin-bottom: 15px
  text-align: center

button
  border: unset
  outline: none
  background: transparent

img
  max-width: 100%


b
  font-weight: 500