// Reset
*,*::after,*::before
  box-sizing: border-box

body, html
  padding: 0
  margin: 0
  font-family: $font
  font-size: $fontSizeMedium
  color: $textColor
  background: $windowBgColor
  scroll-behavior: smooth

a, a:hover, a:active, a:focus
  text-decoration: none
  color: inherit

ul,li
  list-style: none

input,button
  font-family: inherit
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 10px

h1,h2
  font-family: inherit
  color: inherit
  font-weight: 700

h1,h2,h3,p,ul,li
  margin: 0
  padding: 0

.app
  margin-top: 200px

.container
  max-width: 900px
  width: 100%
  margin: 0 auto

.title
  margin-bottom: 15px
  text-align: center

button
  border: unset
  outline: none
  background: transparent

img
  max-width: 100%

b
  font-weight: 500


.v-enter-active,
.v-leave-active
  transition: opacity 0.5s ease

.v-enter-from,
.v-leave-to
  opacity: 0
