.app_home
  margin-top: 20px !important

.app__main-window
  background: #1788cf
  border-radius: 10px 10px 0 0
  margin-bottom: 50px
  height: 600px
  display: flex
  flex-direction: column

.app__body
  padding: 10px
  overflow-y: scroll

  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-thumb
    background: rgba(0,0,0,0.3)
    border-radius: 5px
    &:hover
      background: rgba(0,0,0,0.7)

.app__message
  font-size: 12px
  background: #fff
  display: block
  margin: 5px
  max-width: 100%
  min-width: 100px
  width: fit-content
  color: #242424
  padding: 7px 13px 7px 13px
  border-radius: 5px
  position: relative
  &_self
    background: lightskyblue

.app__message-text
  display: flex
  align-items: flex-end
  div
    width: 100%
    word-break: break-word

.app__message-sender
  display: block
  font-weight: 700

.app__message-text span
  opacity: .7
  font-size: 11px
  display: inline-block
  width: 100%
  text-align: right
  float: right
  margin-top: -10px
  margin-left: 7px
  // bottom: 4px
  // right: 9px

.app__message-input
  margin-bottom: 0
  border: none
  font-size: 12px
  vertical-align: top
  max-width: 100%
  min-width: 100%
  max-height: 100px
  padding-right: 60px
  padding-bottom: 0px
  padding-top: 10px
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    display: none
  &:hover,&:focus
    border: none
    margin-bottom: 0

emoji-picker
  width: 100%
  // display: none

.app__message-send-tools
  position: absolute
  top: 10px
  right: 10px
  display: flex
  align-items: center
.app__message-send-btn
  width: 20px
  margin-left: 10px
  cursor: pointer
  display: block
  padding: 0
.app__message-send-icon
  width: 100%
.app__message-emoji-picker-btn
  width: 20px
  cursor: pointer
  path
    transition: all .2s ease
  &:hover
    path
      fill: #000
