.app_home
  margin-top: 0px !important

  & > .container
    max-width: 100%

.wrapper
  display: flex
  height: 100vh

.empty-message
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  color: #fff


.users
  width: 400px
  flex-shrink: 0
  background: $panelColor
  overflow-y: hidden
  border-right: 1px solid $panelBorderColor
  padding: 10px
  color: #000
  @include scrollbar()

  &:hover
    overflow-y: auto

  &__link
    display: flex
    align-items: center
    padding: 7px 10px
    border-radius: $radius

    &.active
      background: $accentColor
      color: #fff

    &:not(.active):hover
      background: rgba($panelBorderColor, 0.2)

  .users__item_saved .users__userpic
    background: $accentColor
    padding: 12px
    path
      fill: #fff

  &__label
    display: block
    text-overflow: ellipsis
    overflow: hidden
    color: inherit
    white-space: nowrap

  &__userpic
    @include userpic(50px)
    margin-right: 15px

.main-window
  display: flex
  flex-direction: column
  background: $appBgColor
  width: 100%
  overflow: hidden
  position: relative

.recipient-panel
  background: $panelColor
  font-size: $fontSizeBig
  padding: 10px 15px
  box-shadow: $shadow

  display: flex
  align-items: center
  justify-content: space-between

  &__info
    display: flex
    align-items: center

  &__userpic
    @include userpic(42px)
    margin-right: 15px

  &__useremail
    font-size: $fontSizeMedium
    color: rgba($textColor, .5)
    font-weight: 300

.logout-icon
  path
    fill: rgba(#000, .5)
  &:hover path
    fill: #000

.app-body
  padding: 10px
  height: 100%
  overflow-y: auto
  @include scrollbar()

.messages
  width: 100%
  max-width: 500px
  margin-left: auto
  margin-right: auto

.message__item
  display: flex
  align-items: flex-end
  margin: 7px 0
  &_self
    justify-content: flex-end
    .message__userpic
      order: 1
      margin-left: 5px
    .message__text
      background: $msgOutBg
      border-radius: $radiusBig $radiusBig $radiusSmall $radiusBig

  &__icon
    margin-right: 5px
    width: 20px

.message__userpic
  @include userpic(35px)
  margin-right: 5px
  position: sticky
  bottom: 0

.message__text
  display: flex
  align-items: flex-end
  max-width: 600px
  min-width: 100px
  font-size: $fontSizeMedium
  background: $msgInBg
  border-radius: $radiusBig $radiusBig $radiusBig $radiusSmall
  padding: 8px 13px 7px 13px
  width: fit-content
  position: relative
  &.active .message-utils
    opacity: 1
    visibility: visible
    transform: scale(1)
  div
    width: 100%
    word-break: break-word

.message-utils
  max-width: 250px
  width: 250px
  background: #fff
  border-radius: $radius
  box-shadow: $shadow
  //padding: 10px 15px
  left: 15px
  top: 30px
  z-index: 2
  opacity: 0
  visibility: hidden
  transition: all .2s ease
  transform: scale(.8)
  position: absolute
  &__item
    display: flex
    align-items: center
    margin: 20px
    color: $secondaryColor
    path
      fill: $secondaryColor
  &__icon
    margin-right: 10px
  &__delete
    color: $dangerTextColor
    path
      fill: $dangerTextColor

.message__text span
  opacity: .5
  font-size: $fontSizeSmall
  display: inline-block
  width: 100%
  text-align: right
  float: right
  margin-top: -10px
  margin-left: 7px

.message__text_big span
  margin-top: 0

.footer
  padding-top: 5px
  width: 55%
  margin-left: auto
  margin-right: auto
  margin-bottom: 25px
  position: relative
.form_chat
  border-radius: $radius
  display: flex
  align-items: flex-end

.form__message-input
  margin-bottom: 0
  padding: 15px 15px 15px 50px
  box-shadow: $shadow
  font-size: $fontSizeMedium
  background: #fff
  vertical-align: top
  max-width: 100%
  min-width: 100%
  min-height: $textareaMinHeight
  max-height: 300px
  overflow-y: auto
  resize: none
  scrollbar-width: none
  -ms-overflow-style: none
  border: none
  border-radius: $radius
  &::-webkit-scrollbar
    display: none
  &:hover,&:focus
    margin-bottom: 0

  &[placeholder]:empty::before
    content: attr(placeholder)
    color: $textColor
    cursor: text
  [placeholder]:empty:focus::before
    content: ""

emoji-picker
  position: absolute
  bottom: 70px
  left: 0
  border-radius: $radius
  overflow: hidden

.send-message-utils
  display: flex
  align-items: center
  position: absolute
  bottom: 15px
  left: 15px

.form__send-btn
  width: 50px
  height: 50px
  border-radius: 50%
  padding: 12px
  margin-left: 10px
  cursor: pointer
  display: block
  flex-shrink: 0
  background: $accentColor

.form__send-icon
  width: 100%
.emoji-picker-btn
  width: 20px
  cursor: pointer
  path
    transition: all .2s ease
    fill: $secondaryColor
  &:hover
    path
      fill: #000

.form_type_auth
  margin-left: auto
  margin-right: auto
  max-width: 100%
  width: 80%

  .form__reg-link
    text-decoration: underline
    color: $accentColor

  .form-help
    @include alert($dangerTextColor, $dangerBgColor, $dangerBorderColor)
    margin-bottom: 15px

.app_auth
  margin: 0
  & > .container
    padding-top: 30vh
    max-width: 600px
    display: flex
    flex-direction: column
    height: 100vh
    background: #fff
