@mixin scrollbar()
  &::-webkit-scrollbar
    width: 4px
    background: rgba(#000, .1)
  &::-webkit-scrollbar-thumb
    background: rgba(#000, .5)
    border-radius: 5px
    &:hover
      background: rgba(#000, .5)

@mixin userpic($width)
  width: $width
  height: $width
  border-radius: 50%
  object-fit: cover