@mixin scrollbar()
  &::-webkit-scrollbar
    width: 4px
    background: rgba(#000, .1)
  &::-webkit-scrollbar-thumb
    background: rgba(#000, .5)
    border-radius: 5px
    &:hover
      background: rgba(#000, .5)

@mixin userpic($width)
  width: $width
  height: $width
  font-size: $width/3
  border-radius: 50%
  object-fit: cover
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  font-weight: 500

@mixin alert($text_color, $bg_color, $border_color)
  color: $text_color
  background: $bg_color
  border: 1px solid $border_color
  padding: 0.75rem 1.25rem
  border-radius: $radius
