// Fonts
$font: 'Roboto', sans-serif
$fontSizeBig: 18px
$fontSizeMedium: 16px
$fontSizeSmall: 12px

// Color palette
$textColor: #242424
$accentColor: #2aa02f
$secondaryColor: #707579
$windowBgColor: #ffe8e8
// $appBgColor: #8EC5FC linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%)
$appBgColor: linear-gradient(62deg, #fce48e 0%, #e17c54 100%)
$panelColor: #fff
$panelBorderColor: #cdcdd0
$msgInBg: #fff
$msgOutBg: #FFF3D5
$dangerTextColor: rgb(223, 63, 64)
$dangerBgColor: #f8d7da
$dangerBorderColor: #f5c6cb
$successTextColor: #0d6efd
$infoTextColor: rgb(5, 44, 101)
$infoBgColor: rgb(207, 226, 255)
$infoBorderColor: rgb(158, 197, 254)

// Border-radius
$radius: 10px
$radiusBig: 18px
$radiusSmall: 4px

// Sizes
$textareaMinHeight: 45px

// Utils
$shadow: 0 1px 5px -1px #00000036
$messageShadow: 0 1px 2px #10232f26